# Eclipse
bin/
*.launch
.settings
.metadata
.classpath
.project

# Idea
out/
*.ipr
*.iws
*.iml
.idea

# VSCode
.vscode/
.settings/
.classpath
.project

# Gradle
build/
.gradle

# Files from Forge MDK
forge*changelog.txt

# Files from BlockBench
*.bbmodel

# Other
eclipse/
run/

# Cache files
src/generated/resources/.cache